.box{
    transform: translateY(380px);
    width: 1270px;
    margin-left: 75px;
    display: flex;
    box-shadow: 0px 0px 20px #ccc;
    background-color: #ececeb;
    height: 450px;
}
.box:hover{
    box-shadow: 0px 0px 40px rgb(176, 175, 175);
}
.box:hover .button5{
    color: #ff5800;
    border-color: #ff5800;
}
.body5div{
    margin-top: 150px;
    margin-left: 80px;
    font-family: 'kuka-bulo', Calibri, Segoe UI, Helvetica, Arial, Sans-Serif;
}
.body5h2{
    font-weight: lighter;
}
.body5p{
    font-size: 25px;
    margin-left: 30px;
    font-weight: lighter;
}
.button5{
    border-radius: 50%;
    padding: 15px;
    margin-left: 25px;
}
#fa-arr{
    font-size: 20px;
}


@media only screen and (max-width: 1024px){
    .box{
        transform: translateY(360px);
        width: 930px;
        margin-left: 50px;
        height: 360px;
    }
    .body5div{
        margin-top: 120px;
        margin-left: 18px;
    }
    .body5h2{
        font-size: 30px;
    }
    .body5p{
        font-size: 20px;
        margin-left: 5px;
    }
    .button5{
        border-radius: 50%;
        padding: 12px;
        margin-left: 15px;
    }
}

@media only screen and (max-width: 768px){
    .box{
        transform: translateY(350px);
        width: 710px;
        margin-left: 30px;
        height: 300px;
    }
    .body5div{
        margin-top: 80px;
        margin-left: 15px;
    }
    .wmap{
        width: 450px;
    }
    
}

@media only screen and (max-width: 425px){
    .box{
        transform: translateY(720px);
        width: 370px;
        margin-left: 30px;
        height: 420px;
    }
    .body5div{
        margin-top: 260px;
        margin-left: -380px;
    }
    .wmap{
        width: 450px;
        height: 250px;
    }
    .body5h2{
        font-size: 23px;
    }
    .body5p{
        font-size: 18px;
        margin-left: 5px;
    }
    .button5{
        border-radius: 50%;
        padding: 12px;
        margin-left: 15px;
    }
}

@media only screen and (max-width: 375px){
    .box{
        transform: translateY(650px);
        width: 330px;
        margin-left: 22px;
        height: 400px;
    }
    .body5div{
        margin-top: 230px;
        margin-left: -340px;
    }
    .wmap{
        width: 450px;
        height: 220px;
    }
    
}

@media only screen and (max-width: 320px){
    .box{
        transform: translateY(600px);
        width: 280px;
        margin-left: 22px;
        height: 360px;
    }
    .body5div{
        margin-top: 200px;
        margin-left: -290px;
    }
    .wmap{
        width: 450px;
        height: 200px;
    }
    
}